*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.menu-top{
    width: 100%;
    background-color: rgb(159,197,248);
}
.container{
    max-width: 500px;
    margin: 0 auto;

}
.menu-columns{
 display: flex;
 margin: 0 auto;

}
.menu-columns h1{
    flex:1;
    line-height: 50px;
    padding: 0 5px;
    }
.buttons{
    line-height: 50px;
}    
.buttons a {
    flex: 1;
    margin: 0 5px;
    color: white;}
    
.top-main{
    
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.menu-top{
    width: 100%;
    background-color: rgb(159,197,248);
}
.container{
    max-width: 500px;
    margin: 0 auto;

}
.menu-columns{
 display: flex;
 margin: 0 auto;

}
.menu-columns h1{
    flex:1;
    line-height: 50px;
    padding: 0 5px;
    }
.buttons{
    line-height: 50px;
}    
.buttons a {
    flex: 1;
    margin: 0 5px;
    color: white;}
    
.top-main{
    padding: 15px 0px 0px 0px;
    display: flex;
    border-bottom: solid ;
    flex-direction: row;
    align-items: center;
}
.top-main h2{
    flex:3;
    line-height: 50px;
    padding: 0 5px;
    }
.temp-select{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
.temp-select p{
    font-size: 10pt;
    line-height: 50px;
    }
select{
    margin-top: 12px;
    height: 25px; 
    margin-left: 15px;
    }
.main{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.card-temp{
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(218, 218, 218);
}
.card-temp img{
    width: 60px;
    position: relative;
    border: none ;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    margin: 10px;
    
}
.temps{
    display: flex;
}
.color-red{
    flex: 1;
    color: blue;
    font-size: 12pt;
    padding: 10px;

}
.color-blue{
    flex: 1;
    color: red;
    font-size: 12pt;
    padding: 10px;
}
.cookie-banner{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);    
    margin-top: 20px;
    border: solid;
    padding: 10px;
    background-color: rgb(218, 218, 218);
    width: 100%;
    max-width: 474px;

} 
.container-cookie{
    display: flex;
}
.cookie-banner-main{
    font-size: 8pt;
    flex:4;
    }

.left{
    flex:1;
    }

.right{
    flex:1;

}
button{
    padding: 10px;
}